.btn_rigth {
  .absolute {
    position: absolute;
  }

  .top-1\/2 {
    top: 50%;
  }

  .right-0 {
    right: 0;
  }

  .transform {
    transform: translateY(-50%);
  }

  .-translate-y-1\/2 {
    transform: translateY(-50%);
  }

  /* Fondo gris oscuro personalizado */
  .bg-gray-1500 {
    background-color: #1a202c; /* Un color gris oscuro personalizado */
  }

  /* Texto blanco */
  .text-white {
    color: #ffffff;
  }

  /* Padding */
  .p-2 {
    padding: 0.5rem;
  }

  /* Bordes redondeados */
  .rounded-full {
    border-radius: 9999px;
  }

  /* Sombra */
  .shadow-lg {
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}
/* absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-1500 text-white p-2 rounded-full shadow-lg */
