header {
  width: 100%;
  z-index: 1;
  inset: 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: fixed;
}

.nav_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_center ul {
  position: absolute;
  left: 35%;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 3rem;
  /* background-color: antiquewhite; */
}

.nav_right ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 25px;
}

nav ul li a:hover {
  color: white;
}
